@font-face {
    font-family: changa1;
    src: url(Changa-Regular.ttf);
}

@font-face {
    font-family: play1;
    src: url(Play-Regular.ttf);
}

@font-face {
    font-family: roboto1;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto2;
    src: url(Roboto-Medium.TTF);
}
@font-face {
    font-family: roboto3;
    src: url(Roboto-Bold.TTF);
}

@font-face {
    font-family: russo;
    src: url(RussoOne-Regular.ttf);
}

@font-face {
    font-family: calibri;
    src: url(calibrib.ttf);
}

@font-face {
    font-family: great;
    src: url(GreatVibes-Regular.ttf);
}

@font-face {
    font-family: vivaldi;
    src: url(vivaldi.TTF);
}
@font-face {
    font-family: vijaya;
    src: url(vijaya.TTF);
}
@font-face {
    font-family: Viga;
    src: url(Viga-Regular.TTF);
}
@font-face {
    font-family: couret;
    src: url(Courgette-Regular.TTF);
}
@font-face {
    font-family: kaushan;
    src: url(KaushanScript-Regular.TTF);
}
